{% extends 'layouts/default.html' %}

{% block page_title %}Head, face and neck - NHS 111 online{% endblock %}

{% block body_css_classes %}nhsuk-frontend{% endblock %}

{% block content %}

    <div class="content-block measure">

        <div class="nhsuk-back-link">
            <a class="nhsuk-back-link__link" href="/categories/index">
                <svg class="nhsuk-icon nhsuk-icon__chevron-left" xmlns="http://www.w3.org/2000/svg" viewbox="0 0 24 24" aria-hidden="true">
                    <path d="M8.5 12c0-.3.1-.5.3-.7l5-5c.4-.4 1-.4 1.4 0s.4 1 0 1.4L10.9 12l4.3 4.3c.4.4.4 1 0 1.4s-1 .4-1.4 0l-5-5c-.2-.2-.3-.4-.3-.7z"></path>
                </svg>
                Back to categories</a>
        </div>

        <h1>
            Head, face and neck
            <span class="nhsuk-caption-l">includes eyes, ears, nose, mouth and throat</span>
        </h1>

        <ol class="nhsuk-list subcats">

            <li>
                <a href="_edge">
                    Cold or flu
                </a><br>
                <p>
                    A blocked or runny nose. Sneezing, aching muscles or headache. Fever (high temperature), coughing, sore throat or pain in the face.
                </span>
            </li>

            <li>
                <a href="_edge">
                    Dizziness
                </a><br>
                <p>
                    Feeling dizzy, off balance, lightheaded or as if the room is spinning (vertigo).
                </span>
            </li>

            <li>
                <a href="_edge">
                    Head, face or neck injury
                </a><br>
                <p>
                    An injury to the head, face or neck within the last 7 days that didn't cut the skin.
                </span>
            </li>

            <li>
                <a href="_edge">
                    Head, face or neck injury with a cut or wound
                </a><br>
                <p>
                    An injury to any part of the face (but not eyes or teeth), head or neck, which has cut the skin, within the last 7 days.
                </span>
            </li>

            <li>
                <a href="_edge">
                    Headache or migraine
                </a><br>
                <p>
                    Throbbing or intense pain or a tight band around the head. Visual problems like flashing lights with a headache.
                </span>
            </li>

            <li>
                <a href="_edge">
                    Loss or change to your sense of smell or taste
                </a><br>
                <p>
                    You cannot smell or taste anything, or things smell or taste different to normal.
                </span>
            </li>

            <li>
                <a href="_edge">
                    Sinusitis
                </a><br>
                <p>
                    A problem with the sinuses. Face pain around the cheeks, eyes or forehead. A runny nose and a high temperature.
                </span>
            </li>

            <li>
                <a href="_edge">
                    Swallowed or breathed in an object
                </a><br>
                <p>
                    Accidentally swallowing or inhaling something. Choking or inhaling an object. Something stuck in the throat.
                </span>
            </li>

            <li>
                <a href="_edge">
                    Swollen or painful face or neck
                </a><br>
                <p>
                    Swelling, lumps or pain in the face or neck. Swollen glands.
                </span>
            </li>
        </ol>

        <h2 class="nhsuk-u-margin-top-6">Ears</h2>

        <ol class="nhsuk-list subcats">

            <li>
                <a href="_edge">
                    Earache
                </a><br>
                <p>
                    Ear pain, swelling, or fluid leaking from the ear. A painful blocked ear. New deafness with pain. Ringing in the ear.
                </span>
            </li>

            <li>
                <a href="_edge">
                    Fluid or wax coming from the ear with no loss of hearing
                </a><br>
                <p>
                    Fluid, ear wax or watery discharge from one or both ears but without any loss of hearing.
                </span>
            </li>

            <li>
                <a href="_edge">
                    Hearing problems or blocked ear
                </a><br>
                <p>
                    Hearing problems or deafness without earache. Blocked ear or fluid leaking from the ear with no pain.
                </span>
            </li>

            <li>
                <a href="_edge">
                    Something in the ear
                </a><br>
                <p>
                    An object stuck inside the ear. An insect in the ear.
                </span>
            </li>
        </ol>

        <h2 class="nhsuk-u-margin-top-6">Eyes</h2>

        <ol class="nhsuk-list subcats">

            <li>
                <a href="_edge">
                    Eye injury
                </a><br>
                <p>
                    An injury to the eye or eye socket within the last 7 days without any cut or wound.
                </span>
            </li>

            <li>
                <a href="_edge">
                    Eye injury with a cut
                </a><br>
                <p>
                    An injury to the eye or eye socket within the last 7 days that has caused a cut or wound.
                </span>
            </li>

            <li>
                <a href="_edge">
                    Eye or eyelid problems
                </a><br>
                <p>
                    Sore, yellow, red or bloodshot eyes. Loss or changes in vision. Floaters or flashes. Blurred vision. Swollen, sticky, itchy or sore eyelids. A lump on the eyelid.
                </span>
            </li>

            <li>
                <a href="_edge">
                    Something in the eye
                </a><br>
                <p>
                    Dirt, dust or an object has gone into the eyes. Something sprayed or splashed into the eyes.
                </span>
            </li>
        </ol>

        <h2 class="nhsuk-u-margin-top-6">Nose</h2>

        <ol class="nhsuk-list subcats">

            <li>
                <a href="/triage/pathways-weirdq">
                    Blocked or stuffy nose
                </a><br>
                <p>
                    A congested or blocked nose. Sinus problems.
                </span>
            </li>

            <li>
                <a href="_edge">
                    Nosebleed
                </a><br>
                <p>
                    A bleeding nose.
                </span>
            </li>

            <li>
                <a href="_edge">
                    Nosebleed after an injury
                </a><br>
                <p>
                    A bleeding nose following an injury.
                </span>
            </li>

            <li>
                <a href="_edge">
                    Something stuck in the nose
                </a><br>
                <p>
                    An object stuck inside a nostril.
                </span>
            </li>
        </ol>

        <h2 class="nhsuk-u-margin-top-6">Jaw and mouth</h2>

        <ol class="nhsuk-list subcats">

            <li>
                <a href="_edge">
                    Locked or aching jaw
                </a><br>
                <p>
                    Problems opening or closing the mouth or jaw.
                </span>
            </li>

            <li>
                <a href="_edge">
                    Mouth ulcers
                </a><br>
                <p>
                    Mouth, lip, tongue or gum ulcers. Sore white or grey patches inside the mouth.
                </span>
            </li>
        </ol>

        <h2 class="nhsuk-u-margin-top-6">Neck and throat</h2>

        <ol class="nhsuk-list subcats">

            <li>
                <a href="_edge">
                    Difficulty swallowing
                </a><br>
                <p>
                    Having trouble swallowing or unable to swallow, without a sore throat
                </span>
            </li>

            <li>
                <a href="_edge">
                    Sore throat
                </a><br>
                <p>
                    A painful throat, with or without problems swallowing. A hoarse, croaky or lost voice, with or without a sore throat.
                </span>
            </li>
        </ol>

    </div>

{% endblock %}

{% block body_after %}{% endblock %}
