{% extends 'layouts/111-online/content-page.html' %}

{% set page = {
  title: 'Skin, hair and nails'
} %}

{% block content_primary %}

  <div class="nhsuk-back-link nhsuk-u-margin-bottom-4">
    <a class="nhsuk-back-link__link" href="./index">
      <svg class="nhsuk-icon nhsuk-icon__chevron-left" xmlns="http://www.w3.org/2000/svg" viewbox="0 0 24 24" aria-hidden="true">
        <path d="M8.5 12c0-.3.1-.5.3-.7l5-5c.4-.4 1-.4 1.4 0s.4 1 0 1.4L10.9 12l4.3 4.3c.4.4.4 1 0 1.4s-1 .4-1.4 0l-5-5c-.2-.2-.3-.4-.3-.7z"></path>
      </svg>
      Back to categories</a>
  </div>

  <h1 class="nhsuk-heading-xl">
    Skin, hair and nails
    <span class="nhsuk-caption-l">
      includes rashes, moles, bites and stings, small cuts and grazes
    </span>
  </h1>

  <h2 class="nhsuk-heading-l">Skin</h2>

  <ol class="nhsuk-list subcats">

    <li>
      <a href="/edge" class="nhsuk-u-font-weight-bold">
        Any problem affecting the skin
      </a><br>
      <p>
        Includes bites and stings, moles, rashes and allergies
      </p>
    </li>

    <li>
      <a href="/edge" class="nhsuk-u-font-weight-bold">
        Bites or stings
      </a><br>
      <p>
        A bite or sting from animals, humans, insects, birds or reptiles. Swollen, itchy, red, reaction. Bitten by a dog, cat, a pet or wild animal. Stung by a wasp, bee, mosquito or horsefly. Spider, tick or bites from bugs. Burning or stinging pain. Irritation. Stinging plants and nettles. Lump, swelling or blister.
      </p>
    </li>

    <li>
      <a href="/edge" class="nhsuk-u-font-weight-bold">
        Blisters
      </a><br>
      <p>
        Blisters from something rubbing against the skin, such as new shoes.
      </p>
    </li>

    <li>
      <a href="/edge" class="nhsuk-u-font-weight-bold">
        Cuts, scratches or grazes
      </a><br>
      <p>
        A small cut, scratch or graze that might have gravel, dirt or grit inside.
      </p>
    </li>

    <li>
      <a href="/edge" class="nhsuk-u-font-weight-bold">
        Fingernail injury
      </a><br>
      <p>
        Any injury to the fingernail or nails in the last 7 days.
      </p>
    </li>

    <li>
      <a href="/edge" class="nhsuk-u-font-weight-bold">
        Glue on the skin
      </a><br>
      <p>
        Something is glued to the skin, or the skin has been glued together.
      </p>
    </li>

    <li>
      <a href="/edge" class="nhsuk-u-font-weight-bold">
        Hair falling out or thinning
      </a><br>
      <p>
        Hair loss from any part of the body. Losing hair in patches or clumps.
      </p>
    </li>

    <li>
      <a href="/edge" class="nhsuk-u-font-weight-bold">
        Splinters or problems with piercings
      </a><br>
      <p>
        A problem with a small object stuck in the skin. Wood or glass splinters. Problems with piercings.
      </p>
    </li>

    <li>
      <a href="/edge" class="nhsuk-u-font-weight-bold">
        Sunburn
      </a><br>
      <p>
        Burns caused by the sun or a tanning sunbed or lamp. Red, warm, sore, tender, or peeling skin.
      </p>
    </li>

    <li>
      <a href="/edge" class="nhsuk-u-font-weight-bold">
        Toenail injury
      </a><br>
      <p>
        An injury to one or more toenails within the last 7 days. Painful, broken, ingrown or loose toenails.
      </p>
    </li>

    <li>
      <a href="/edge" class="nhsuk-u-font-weight-bold">
        Unusual skin or body sensations
      </a><br>
      <p>
        Strange feelings in the skin anywhere on the body. Numbness, burning, tingling or pins and needles.
      </p>
    </li>
  </ol>

{% endblock %}
