{% extends 'layouts/default.html' %}

{% block page_title %}Sleep problems - NHS 111 online{% endblock %}

{% block body_css_classes %}nhsuk-frontend{% endblock %}

{% block content %}

    <div class="content-block measure">

        <div class="nhsuk-back-link">
            <a class="nhsuk-back-link__link" href="/categories/index">
                <svg class="nhsuk-icon nhsuk-icon__chevron-left" xmlns="http://www.w3.org/2000/svg" viewbox="0 0 24 24" aria-hidden="true">
                    <path d="M8.5 12c0-.3.1-.5.3-.7l5-5c.4-.4 1-.4 1.4 0s.4 1 0 1.4L10.9 12l4.3 4.3c.4.4.4 1 0 1.4s-1 .4-1.4 0l-5-5c-.2-.2-.3-.4-.3-.7z"></path>
                </svg>
                Back to categories</a>
        </div>

        <h1>Sleep problems</h1>

        <ol class="nhsuk-list">
            <li>
                <a href="_edge">
                    Sleep problems
                </a><br>
                <p>
                    Problems sleeping, getting to sleep or staying asleep. Tiredness. Insomnia.
                </span>
            </li>

            <li>
                <a href="_edge">
                    Tiredness
                </a><br>
                <p>
                    Feeling tired or exhausted (fatigue) most of the time, or tiring easily.
                </span>
            </li>
        </ol>

    </div>

{% endblock %}

{% block footer %}{% endblock %}
