{% extends 'layouts/default.html' %}

{% block page_title %}Unusual skin or body sensations - NHS 111 online{% endblock %}

{% block body_css_classes %}nhsuk-frontend{% endblock %}

{% block content %}

    <div class="content-block measure">

        <div class="nhsuk-back-link">
            <a class="nhsuk-back-link__link" href="/categories/index">
                <svg class="nhsuk-icon nhsuk-icon__chevron-left" xmlns="http://www.w3.org/2000/svg" viewbox="0 0 24 24" aria-hidden="true">
                    <path d="M8.5 12c0-.3.1-.5.3-.7l5-5c.4-.4 1-.4 1.4 0s.4 1 0 1.4L10.9 12l4.3 4.3c.4.4.4 1 0 1.4s-1 .4-1.4 0l-5-5c-.2-.2-.3-.4-.3-.7z"></path>
                </svg>
                Back to categories</a>
        </div>

        <h1>Unusual skin or body sensations</h1>

        <ol class="nhsuk-list">
            <li>
                <a href="_edge">
                    Any problem affecting the skin
                </a><br>
                <p>
                    Includes bites and stings, moles, rashes and allergies
                </span>
            </li>

            <li>
                <a href="_edge">
                    Breast and nipple problems
                </a><br>
                <p>
                    Any problems with the breast or nipple. Lumps, pain or any worries about skin changes.
                </span>
            </li>

            <li>
                <a href="_edge">
                    Cold arm or arm changing colour
                </a><br>
                <p>
                    A cold, painless arm. Dead arm. White, blue, or black colour in one or both arms.
                </span>
            </li>

            <li>
                <a href="_edge">
                    Cold leg or leg changing colour
                </a><br>
                <p>
                    A cold, painless leg. Dead leg. White, blue or black colour in one or both legs.
                </span>
            </li>

            <li>
                <a href="_edge">
                    Hiccups
                </a><br>
                <p>
                    Hiccups, with possible fever. Hiccups won't stop.
                </span>
            </li>

            <li>
                <a href="_edge">
                    Loss or change to your sense of smell or taste
                </a><br>
                <p>
                    You cannot smell or taste anything, or things smell or taste different to normal.
                </span>
            </li>

            <li>
                <a href="_edge">
                    Unusual skin or body sensations
                </a><br>
                <p>
                    Strange feelings in the skin anywhere on the body. Numbness, burning, tingling or pins and needles.
                </span>
            </li>
        </ol>

    </div>

{% endblock %}

{% block footer %}{% endblock %}
