{% extends 'layouts/default.html' %}

{% block page_title %}Wound or injury problems after treatment - NHS 111 online{% endblock %}

{% block body_css_classes %}nhsuk-frontend{% endblock %}

{% block content %}

  <div class="content-block measure">

    <div class="nhsuk-back-link">
      <a class="nhsuk-back-link__link" href="index">
        <svg class="nhsuk-icon nhsuk-icon__chevron-left" xmlns="http://www.w3.org/2000/svg" viewbox="0 0 24 24" aria-hidden="true">
          <path d="M8.5 12c0-.3.1-.5.3-.7l5-5c.4-.4 1-.4 1.4 0s.4 1 0 1.4L10.9 12l4.3 4.3c.4.4.4 1 0 1.4s-1 .4-1.4 0l-5-5c-.2-.2-.3-.4-.3-.7z"></path>
        </svg>
        Back to categories</a>
    </div>

    <h1>Wound or injury problems after treatment</h1>

    <ol class="nhsuk-list">
      <li>
        <a href="_edge">
          Problems with drains, stitches, plaster casts or metal rods
        </a><br>
        <p>
          New pain or problems with stitches, staples, plaster casts, metal rods, drainage tubes or central line catheters that were inserted less than 7 days ago.
        </span>
      </li>

      <li>
        <a href="_edge">
          Older wound problems
        </a><br>
        <p>
          Any problem with a wound that was treated by a doctor or nurse more than 7 days ago
        </span>
      </li>
    </ol>

  </div>

{% endblock %}

{% block footer %}{% endblock %}