{% extends 'layouts/default.html' %}

{% block page_title %}Lower body - NHS 111 online{% endblock %}

{% block body_css_classes %}nhsuk-frontend{% endblock %}

{% block content %}

  <div class="content-block measure">

    <div class="nhsuk-back-link">
      <a class="nhsuk-back-link__link" href="index">
        <svg class="nhsuk-icon nhsuk-icon__chevron-left" xmlns="http://www.w3.org/2000/svg" viewbox="0 0 24 24" aria-hidden="true">
          <path d="M8.5 12c0-.3.1-.5.3-.7l5-5c.4-.4 1-.4 1.4 0s.4 1 0 1.4L10.9 12l4.3 4.3c.4.4.4 1 0 1.4s-1 .4-1.4 0l-5-5c-.2-.2-.3-.4-.3-.7z"></path>
        </svg>
        Back to categories</a>
    </div>

    <h1 class="nhsuk-heading-xl">
      Genitals and bottom
      <span class="nhsuk-caption-l">
        includes problems peeing or pooing and sexual health problems
      </span>
    </h1>

    <p class="nhsuk-caption-m">Choose the one symptom that's bothering you most today.</p>

    <h2 class="nhsuk-u-margin-top-4">Genitals</h2>

    <ol class="nhsuk-list subcats">

      <li>
        <a href="_edge">
          Catheter problems
        </a><br>
        <p>
          A problem with a blocked or leaking catheter. Pain from a catheter. Trouble removing or inserting a catheter.
        </span>
      </li>

      <li>
        <a href="_edge">
          Genital injury
        </a><br>
        <p>
          An injury anywhere on the genitals in the last 7 days that hasn't cut the skin.
        </span>
      </li>

      <li>
        <a href="_edge">
          Genital injury with cut or wound
        </a><br>
        <p>
          An injury to the genitals within the last 7 days that has cut the skin. Cuts, wounds or grazes anywhere on the vagina or the area between the anus and vagina.
        </span>
      </li>

      <li>
        <a href="_edge">
          Bleeding from the vagina
        </a><br>
        <p>
          Heavy periods, bleeding after sex or unexpected bleeding. Bleeding or spotting when pregnant. Any bleeding after the menopause.
        </span>
      </li>

      <li>
        <a href="_edge">
          Discharge from the vagina
        </a><br>
        <p>
          Vaginal discharge, with or without tummy pain.
        </span>
      </li>

      <li>
        <a href="_edge">
          Itchy vagina
        </a><br>
        <p>
          Sore or itchy vagina.
        </span>
      </li>

      <li>
        <a href="_edge">
          Male sexual problems
        </a><br>
        <p>
          A physical or emotional problem with sexual health or activity. Worries about sexually transmitted infections (STIs), HIV/AIDS
        </span>
      </li>

      <li>
        <a href="_edge">
          Penis, testicle or scrotum problems
        </a><br>
        <p>
          Male genital problems, with or without tummy pain.
        </span>
      </li>

      <li>
        <a href="_edge">
          Problems with peeing
        </a><br>
        <p>
          Pain, stinging or burning while peeing. peeing too often or smelly pee.
        </span>
      </li>

      <li>
        <a href="_edge">
          Sexual or period problems
        </a><br>
        <span class="nhsuk-hint nhsuk-u-font-size-16 nhsuk-u-margin-bottom-0">
          Checks for things like: emergency contraception, contraception, STIs, menopause
        </span>
        <p>
          Menopause. Hot flushes. Sexual identity. PMS. PMT. Sexual assault. Menopausal or premenstrual problems. Sexually transmitted infections. HIV/AIDs.
        </span>
      </li>
      <li>
        <a href="_edge">
          Vaginal lump or swelling
        </a><br>
        <p>
          Any lump, cyst, swelling or pain in or around the vagina. Swollen or sore labia.
        </span>
      </li>

      <li>
        <a href="_edge">
          Problems peeing
        </a><br>
        <p>
          Pain, stinging or burning when peeing. Only being able to pee very small amounts, or cannot pee at all. Bloody, red or pink pee. Peeing too much or smelly pee.
        </span>
      </li>

      <li>
        <a href="_edge">
          Something stuck in or around the penis
        </a><br>
        <p>
          An object stuck inside or around the penis.
        </span>
      </li>

      <li>
        <a href="_edge">
          Something stuck in the vagina
        </a><br>
        <p>
          An item such as a tampon, cap, condom or other object, that's got stuck in the vagina.
        </span>
      </li>

    </ol>

    <h2 class="nhsuk-u-margin-top-4">Bottom</h2>

    <ol class="nhsuk-list subcats">

      <li>
        <a href="_edge">
          Bleeding from the bottom
        </a><br>
        <p>
          Spots of blood on the toilet paper. Streaks of blood in poo. Red or black coloured poo.
        </span>
      </li>

      <li>
        <a href="_edge">
          Bottom pain, swelling lump or itch
        </a><br>
        <p>
          Pain, itching or swelling in or around the bum (anus or rectum). Lumps in or around the bottom.
        </span>
      </li>

      <li>
        <a href="_edge">
          Constipation
        </a><br>
        <p>
          Can't poo or finding it hard to poo, with or without tummy pain.
        </span>
      </li>

      <li>
        <a href="_edge">
          Diarrhoea
        </a><br>
        <p>
          Runny or watery poo, with or without pain in the tummy.
        </span>
      </li>

      <li>
        <a href="_edge">
          Loss of bowel control
        </a><br>
        <p>
          An urge to poo that can't be controlled. Soiling or staining underwear. May also include constipation or diarrhoea, bloating or wind.
        </span>
      </li>

      <li>
        <a href="_edge">
          Something stuck in the bottom
        </a><br>
        <p>
          An object stuck in the back passage.
        </span>
      </li>

      <li>
        <a href="_edge">
          Stoma problems
        </a><br>
        <p>
          A problem with any stoma or bag attached to the body.
        </span>
      </li>
    </ol>

  </div>

{% endblock %}

{% block body_after %}{% endblock %}