{% extends 'layouts/default.html' %}

{% block page_title %}Upper body - NHS 111 online{% endblock %}

{% block body_css_classes %}nhsuk-frontend{% endblock %}

{% block content %}

  <div class="content-block measure">

    <div class="nhsuk-back-link">
      <a class="nhsuk-back-link__link" href="index">
        <svg class="nhsuk-icon nhsuk-icon__chevron-left" xmlns="http://www.w3.org/2000/svg" viewbox="0 0 24 24" aria-hidden="true">
          <path d="M8.5 12c0-.3.1-.5.3-.7l5-5c.4-.4 1-.4 1.4 0s.4 1 0 1.4L10.9 12l4.3 4.3c.4.4.4 1 0 1.4s-1 .4-1.4 0l-5-5c-.2-.2-.3-.4-.3-.7z"></path>
        </svg>
        Back to categories</a>
    </div>

    <h1 class="nhsuk-heading-xl">
      Upper body
      <span class="nhsuk-caption-l">includes chest, upper back, shoulders, arms, wrists and hands</span>
    </h1>

    <ol class="nhsuk-list subcats">
      <li>
        <a href="_edge">
          Chest or upper back injury
        </a><br>
        <p>
          An injury to the chest or upper back within the last 7 days, that hasn't cut the skin. Broken, painful or bruised ribs. Injuries from the collarbone to bottom of the ribcage.
        </span>
      </li>

      <li>
        <a href="_edge">
          Chest or upper back injury with a cut or wound
        </a><br>
        <p>
          A wound on the chest or upper back (the collarbone to the bottom of the ribcage) within the last 7 days. Broken, painful or bruised ribs with a wound.
        </span>
      </li>
    </ol>

    <h2 class="nhsuk-u-margin-top-6">Chest and breasts</h2>

    <ol class="nhsuk-list subcats">
      <li>
        <a href="_edge">
          Breast and nipple problems
        </a><br>
        <p>
          Any problems with the breast or nipple. Lumps, pain or any worries about skin changes.
        </span>
      </li>

      <li>
        <a href="_edge">
          Breathing problems
        </a><br>
        <span class="form-hint nhsuk-u-margin-bottom-0">
          Checks for things like: asthma, chest infection, pneumonia, bronchitis, angina
        </span>
        <p>
          Wheezing, panting or feeling out of breath. Difficult or noisy breathing.
        </span>
      </li>

      <li>
        <a href="_edge">
          Chest pain
        </a><br>
        <span class="form-hint nhsuk-u-margin-bottom-0">
          Checks for things like: heartburn, angina
        </span>
        <p>
          Any chest or upper back pain. Chest pain with or without arm, shoulder, neck or jaw pain. Tightness in the chest.
        </span>
      </li>

      <li>
        <a href="_edge">
          Cough
        </a><br>
        <span class="form-hint nhsuk-u-margin-bottom-0">
          Checks for things like: chest infection, hay fever
        </span>
        <p>
          Hacking, tickly or dry cough, without other cold symptoms. Coughing up phlegm or mucus.
        </span>
      </li>

      <li>
        <a href="_edge">
          Coughing up blood
        </a><br>
        <p>
          Coughing up blood in sick (vomit), phlegm or mucus.
        </span>
      </li>

      <li>
        <a href="_edge">
          Hiccups
        </a><br>
        <p>
          Hiccups, with possible fever. Hiccups won't stop.
        </span>
      </li>

      <li>
        <a href="_edge">
          Palpitations
        </a><br>
        <p>
          Feeling the heart is beating too fast or too slow. Pounding or irregular heartbeat. Racing heart, fluttering in the chest, skipped beats.
        </span>
      </li>

    </ol>

    <h2 class="nhsuk-u-margin-top-6">Shoulders, arms, wrists and hands</h2>

    <ol class="nhsuk-list subcats">
      <li>
        <a href="_edge">
          Arm or shoulder injury
        </a><br>
        <p>
          An injury to the arm or shoulder within the last 7 days, that has not cut the skin. A dislocated shoulder or arm.
        </span>
      </li>

      <li>
        <a href="_edge">
          Arm or shoulder injury with a cut or wound
        </a><br>
        <p>
          An injury to the arm or shoulder in the last 7 days, that has caused a cut or wound.
        </span>
      </li>

      <li>
        <a href="_edge">
          Cold arm or arm changing colour
        </a><br>
        <p>
          A cold, painless arm. Dead arm. White, blue, or black colour in one or both arms.
        </span>
      </li>

      <li>
        <a href="_edge">
          Finger or thumb injury
        </a><br>
        <p>
          A finger or thumb injury within the last 7 days that hasn't cut the skin.
        </span>
      </li>

      <li>
        <a href="_edge">
          Finger or thumb injury with a cut or wound
        </a><br>
        <p>
          A finger or thumb injury within the last 7 days that has cut the skin.
        </span>
      </li>

      <li>
        <a href="_edge">
          Fingernail injury
        </a><br>
        <p>
          Any injury to the fingernail or nails in the last 7 days.
        </span>
      </li>

      <li>
        <a href="_edge">
          Hand or wrist injury
        </a><br>
        <p>
          A hand or wrist injury in the last 7 days that hasn't cut the skin.
        </span>
      </li>

      <li>
        <a href="_edge">
          Hand or wrist injury with a cut or wound
        </a><br>
        <p>
          An injury to the hand or wrist within the last 7 days that has cut the skin.
        </span>
      </li>

      <li>
        <a href="_edge">
          Shoulder problems
        </a><br>
        <p>
          Ache or stiffness in one or both shoulders. Unusual feelings or weakness.
        </span>
      </li>

      <li>
        <a href="_edge">
          Swollen or painful arm
        </a><br>
        <p>
          Pain or swelling in the arm or elbow.
        </span>
      </li>

      <li>
        <a href="_edge">
          Swollen or painful hand, finger or wrist
        </a><br>
        <p>
          Pain or swelling in the hand, fingers, nails or wrist.
        </span>
      </li>
    </ol>

  </div>

{% endblock %}

{% block body_after %}{% endblock %}