{# Page configuration
---------------------------------------------------- #}
{% set page = {
  title: 'Is there a rapidly spreading redness or change in skin colour around the wound?',
  layout: {
    file: 'layouts/111-online/question/radio.html'
  }
} %}

{# Question and content configuration
---------------------------------------------------- #}
{% set question = {
  callout: {
    html: "<p>We're checking for signs of a fast spreading infection within 4 to 6 hours of the injury.</p><p>You may see red streaks spreading out or up from the wound. This can be harder to see on brown or black skin and skin may appear darker than normal.</p>"
  },
  radios: {
    items: [
      {
        text: 'Yes'
      }, {
        text: "I'm not sure"
      }, {
        text: 'No'
      }
    ]
  },
  actions: {
    button: {
      text: 'Next'
    }
  }
} %}

{# This sets which layout file to use
---------------------------------------------------- #}
{% extends page.layout.file | d(layoutFile()) %}