{% set page = {
  title: 'Check it’s not an emergency',
  layout: {
    content_primary: {
      width: 'full'
    }
  }
} %}

{% set bodyClasses = "module-zero" %}

{% extends 'layouts/111-online/default.html' %}

{% block content_primary %}

  <div class="app-callout app-callout--alert app-callout--alert-bordered nhsuk-u-reading-width">

    <h1 class="nhsuk-heading-xl nhsuk-u-margin-bottom-4 app-u-color-red">Check it's not an emergency</h1>
    <h2 class="nhsuk-heading-s nhsuk-u-margin-bottom-3">Call 999 now for any of these:</h2>

    <ul class="nhsuk-list nhsuk-list--bullet app-two-tone-list">
      <li>
        <b class="app-two-tone-list__highlight">signs of a heart attack&nbsp;</b>
        <br aria-hidden="true">
        chest pain, pressure, heaviness, tightness or squeezing across the chest
      </li>
      <li>
        <b class="app-two-tone-list__highlight">signs of a stroke&nbsp;</b>
        <br aria-hidden="true">
        face dropping on one side, can’t hold both arms up, difficulty speaking
      </li>
      <li>
        <b class="app-two-tone-list__highlight">sudden confusion (delirium)&nbsp;</b>
        <br aria-hidden="true">
        cannot be sure of own name or age
      </li>
      <li>
        <b class="app-two-tone-list__highlight">suicide attempt&nbsp;</b>
        <br aria-hidden="true">
        by taking something or self-harming
      </li>
      <li>
        <b class="app-two-tone-list__highlight">severe difficulty breathing&nbsp;</b>
        <br aria-hidden="true">
        not being able to get words out, choking or gasping
      </li>
      <li>
        <b class="app-two-tone-list__highlight">heavy bleeding&nbsp;</b>
        <br aria-hidden="true">
        spraying, pouring or enough to make a puddle
      </li>
      <li>
        <b class="app-two-tone-list__highlight">severe injuries&nbsp;</b>
        <br aria-hidden="true">
        after a serious accident
      </li>
      <li>
        <b class="app-two-tone-list__highlight">seizure (fit)&nbsp;</b>
        <br aria-hidden="true">
        shaking or jerking because of a fit, or unconscious (can’t be woken up)
      </li>
      <li>
        <b class="app-two-tone-list__highlight">sudden, rapid swelling&nbsp;</b>
        <br aria-hidden="true">
        of the lips, mouth, throat or tongue
      </li>
      <li>
        <b class="app-two-tone-list__highlight">labour or childbirth&nbsp;</b>
        <br aria-hidden="true">
        waters breaking, more frequent intense cramps (contractions), baby coming, or just born
      </li>
    </ul>
    <p>
      British Sign Language (BSL) speakers can
      <a href="/edge">make a video call to 999</a>.
    </p>

    <p>Deaf people can use 18000 to contact 999 using text relay.</p>

    <a href="where-are-you-now" class="nhsuk-button nhsuk-u-margin-bottom-4">I have none of these</a>
  </div>

{% endblock content_primary %}
