{% set page = {
  title: 'Where are you now?'
} %}

{% extends 'layouts/111-online/default.html' %}

{% block content_primary %}

  <h1 class="nhsuk-heading-l">{{ page.title }}</h1>

  {{
    callout({
      HTML: "<p>We need to know where you are so we can find services to help.</p>",
      classes: "app-callout--info"
    })
  }}

  <form method="post" novalidate="novalidate">

    {{ input({
          label: {
            text: "Postcode"
          },
          decorate: 'postcode',
          classes: "nhsuk-input--width-10"
        }) }}

    {{
      button({
        text: 'Next'
      })
    }}

  </form>

{% endblock content_primary %}
