{% extends 'layouts/default.html' %}

{% block page_title %}Upper body - NHS 111 online{% endblock %}

{% block body_css_classes %}nhsuk-frontend{% endblock %}

{% block content %}

  <div class="content-block measure">

    <div class="nhsuk-back-link">
      <a class="nhsuk-back-link__link" href="index">
        <svg class="nhsuk-icon nhsuk-icon__chevron-left" xmlns="http://www.w3.org/2000/svg" viewbox="0 0 24 24" aria-hidden="true">
          <path d="M8.5 12c0-.3.1-.5.3-.7l5-5c.4-.4 1-.4 1.4 0s.4 1 0 1.4L10.9 12l4.3 4.3c.4.4.4 1 0 1.4s-1 .4-1.4 0l-5-5c-.2-.2-.3-.4-.3-.7z"></path>
        </svg>
        Back to categories</a>
    </div>

    <h1 class="nhsuk-heading-xl">
      Shoulders, arms and hands
      <span class="nhsuk-caption-l">includes shoulders, arms, wrists, hands and fingers</span>
    </h1>

    <p class="nhsuk-caption-m">Choose the one symptom that's bothering you most today.</p>

    <ol class="nhsuk-list subcats">
      <li>
        <a href="_edge">
          Trembling or shaking
        </a><br>
        <p>
          Shaking or trembling (tremor).
        </span>
      </li>
    </ol>

    <h2 class="nhsuk-u-margin-top-4">Shoulders and arms</h2>

    <ol class="nhsuk-list subcats">
      <li>
        <a href="_edge">
          Arm or shoulder injury
        </a>
        <p>
          An injury to the arm or shoulder within the last 7 days, that has not cut the skin. A dislocated shoulder or arm.
        </p>
      </li>
      <li>
        <a href="_edge">
          Arm or shoulder injury with a cut or wound
        </a>
        <p>
          An injury to the arm or shoulder in the last 7 days, that has caused a cut or wound.
        </p>
      </li>
      <li>
        <a href="_edge">
          Cold arm or arm changing colour
        </a>
        <p>
          A cold, painless arm. Colour changes include skin being lighter or darker than normal in one or both arms.
        </p>
      </li>
      <li>
        <a href="_edge">
          Shoulder problems
        </a>
        <p>
          Ache or stiffness in one or both shoulders. Unusual feelings or weakness.
        </p>
      </li>
      <li>
        <a href="_edge">
          Swollen or painful arm
        </a>
        <p>
          Pain or swelling in the arm or elbow.
        </p>
      </li>
    </ol>

    <h2 class="nhsuk-u-margin-top-4">Wrists, hands and fingers</h2>

    <ol class="nhsuk-list subcats">
      <li>
        <a href="_edge">
          Finger or thumb injury
        </a>
        <p>
          A finger or thumb injury within the last 7 days that has not cut the skin.
        </p>
      </li>
      <li>
        <a href="_edge">
          Finger or thumb injury with a cut or wound
        </a>
        <p>
          A finger or thumb injury within the last 7 days that has cut the skin.
        </p>
      </li>
      <li>
        <a href="_edge">
          Fingernail injury
        </a>
        <p>
          Any injury to the fingernail or nails in the last 7 days.
        </p>
      </li>
      <li>
        <a href="_edge">
          Hand or wrist injury
        </a>
        <p>
          A hand or wrist injury in the last 7 days that has not cut the skin.
        </p>
      </li>
      <li>
        <a href="_edge">
          Hand or wrist injury with a cut or wound
        </a>
        <p>
          An injury to the hand or wrist within the last 7 days that has cut the skin.
        </p>
      </li>
      <li>
        <a href="_edge">
          Swollen or painful hand, finger or wrist
        </a>
        <p>
          Pain or swelling in the hand, fingers, nails or wrist.
        </p>
      </li>
    </ol>

  </div>

{% endblock %}

{% block body_after %}{% endblock %}