{% extends 'layouts/default.html' %}

{% block page_title %}Lower body - NHS 111 online{% endblock %}

{% block body_css_classes %}nhsuk-frontend{% endblock %}

{% block content %}

  <div class="content-block measure">

    <div class="nhsuk-back-link">
      <a class="nhsuk-back-link__link" href="index">
        <svg class="nhsuk-icon nhsuk-icon__chevron-left" xmlns="http://www.w3.org/2000/svg" viewbox="0 0 24 24" aria-hidden="true">
          <path d="M8.5 12c0-.3.1-.5.3-.7l5-5c.4-.4 1-.4 1.4 0s.4 1 0 1.4L10.9 12l4.3 4.3c.4.4.4 1 0 1.4s-1 .4-1.4 0l-5-5c-.2-.2-.3-.4-.3-.7z"></path>
        </svg>
        Back to categories</a>
    </div>

    <h1 class="nhsuk-heading-xl">
      Hips, legs and feet
      <span class="nhsuk-caption-l">
        includes hips, groin, legs, ankles, feet and toes
      </span>
    </h1>

    <p class="nhsuk-caption-m">Choose the one symptom that's bothering you most today.</p>

    <ol class="nhsuk-list subcats">
      <li>
        <a href="_edge">Swollen or painful legs, knees, ankles or feet</a>
        <span class="nhsuk-hint nhsuk-u-font-size-16 nhsuk-u-margin-bottom-0">
          Checks for things like: sciatica, gout, ingrown toenail, cramp, ulcers
        </span>
        <p>
          Painful or swollen legs, thighs, knees, ankles or feet. Pain or swelling in the hips or bum. Heel pain.
        </p>
      </li>

      <li>
        <a href="_edge">Trembling or shaking</a>
        <p>
          Shaking or trembling (tremor).
        </p>
      </li>
    </ol>

    <h2 class="nhsuk-u-margin-top-4">Hips, groin, legs, and knees
    </h2>

    <ol class="nhsuk-list subcats">

      <li>
        <a href="_edge">
          Cold leg or leg changing colour
        </a><br>
        <p>
          A cold, painless leg. Colour changes include skin being lighter or darker than normal in one or both legs.
        </span>
      </li>

      <li>
        <a href="_edge">
          Groin pain or swelling
        </a><br>
        <p>
          Pain or swelling in the groin (where the top of your leg meets the front of your body).
        </span>
      </li>

      <li>
        <a href="_edge">
          Leg injury
        </a><br>
        <p>
          A leg injury to the hip, thigh, knee, calf, shin or ankle within the last 7 days that didn't cut the skin.
        </span>
      </li>

      <li>
        <a href="_edge">
          Leg injury with a cut or wound
        </a><br>
        <p>
          An injury to the leg, hip, thigh, knee, calf, shin or ankle in the last 7 days, that has a cut or wound.
        </span>
      </li>
    </ol>

    <h2 class="nhsuk-u-margin-top-4">Ankles, feet and toes</h2>

    <ol class="nhsuk-list subcats">

      <li>
        <a href="_edge">
          Ankle or foot injury
        </a><br>
        <p>
          An injury to the ankle or foot in the last 7 days that does not have any type of cut or wound. Sprained ankle.
        </span>
      </li>

      <li>
        <a href="_edge">
          Ankle or foot injury with a cut or wound
        </a><br>
        <p>
          An injury to the ankle or foot in the last 7 days that has any type of cut or wound.
        </span>
      </li>

      <li>
        <a href="_edge">
          Toe injury
        </a><br>
        <p>
          A toe injury within the last 7 days that has not cut the skin.
        </span>
      </li>

      <li>
        <a href="_edge">
          Toe injury with a cut or wound
        </a><br>
        <p>
          An injury to one or more toes within the last 7 days that has cut the skin.
        </span>
      </li>

      <li>
        <a href="_edge">
          Toenail injury
        </a><br>
        <p>
          An injury to one or more toenails within the last 7 days. Painful, broken, ingrown or loose toenails.
        </span>
      </li>

    </ol>

  </div>

{% endblock %}

{% block body_after %}{% endblock %}