{% extends 'layouts/111-online/default.html' %}

{% block content_header %}
  <h1 class="nhsuk-heading-l">{{ page.title }}</h1>
{% endblock content_header %}

{% block content_primary %}

  <form method="post">

    {% block check_answers_header %}{% endblock check_answers_header %}

    {% block check_answers %}
      {{ summaryList(details.answers) }}
    {% endblock check_answers %}

    {% block check_answers_footer %}{% endblock check_answers_footer %}

    {% block check_answers_actions %}
      {% if details.actions.button %}
        {{
        button({
          text: 'Confirm'
        })
      }}
      {% endif %}
    {% endblock check_answers_actions %}

  </form>

{% endblock content_primary %}