{% from 'macros/attributes.njk' import nhsukAttributes %}
{% from 'components/radios/macro.njk' import radios with context %}
{% from 'components/button/macro.njk' import button %}
{% from 'components/details/macro.njk' import details %}
{% from 'components/inset-text/macro.njk' import insetText %}
{% from "components/111-online/callout/macro.njk" import callout with context %}
{% from "components/111-online/footer/macro.njk" import footer as appFooter with context %}

{% set title = page.title | d('title not set') %}

{% set _layout = {
  layout: 'layouts/default.html',
  content_primary: {
    id: 'content-primary',
    width: 'two-thirds'
  },
  content_secondary: {
    id: 'content-secondary',
    width: 'one-third'
  }
} | objectMerge(page.layout | d({})) %}

{% extends _layout.layout %}

{% block content %}

  {% block content_header %}{% endblock content_header %}

  <div class="nhsuk-grid-row">

    <div class="nhsuk-grid-column-{{ _layout.content_primary.width }}" id="{{ _layout.content_primary.id }}">
      {% block content_primary %}{% endblock %}
    </div>
    <!-- /.nhsuk-grid-column-{{ _layout.content_primary.width }} -->

    {% if page.content_secondary.visible %}
      <div class="nhsuk-grid-column-{{ _layout.content_secondary.width }}" id="{{ _layout.content_secondary.id }}">
        {% block content_secondary %}{% endblock %}
      </div>
      <!-- /.nhsuk-grid-column-{{ _layout.content_secondary.width }} -->
    {% endif %}

  </div>
  <!-- /.nhsuk-grid-column-grid-row -->

  {% block content_footer %}{% endblock content_footer %}

{% endblock content %}

{% block footer %}
  {{ appFooter() }}
{% endblock footer %}
