{# 
  Page configuration
  ----------------------------------------------------
#}
{% set page = {
  title: 'Can we contact you by phone?',
  layout: {
    file: 'layouts/111-online/question/radio.html'
  }
} %}

{# 
  Question and content configuration
  ----------------------------------------------------
#}
{% set question = {
  text: page.title,
  callout: {
    text: 'We will contact you during office hours',
    position: 'top',
    hide: false
  },
  radios: {
    items: [
      {
        text: 'Yes',
        value: 'yes'
      }, {
        text: 'No',
        value: 'no'
      }
    ]
  },
  actions: {
    button: {
      text: 'Next'
    }
  }
} %}

{# 
  This sets which layout file to use
  ----------------------------------------------------
#}
{% extends page.layout.file %}
