{% set page = {
  title: 'DSPs Prototype',
  layout: {
    content_secondary: {
      visible: true
    }
  }
} %}

{% extends page.layout.file | d(layoutFile()) %}

{% block content_header %}
  <h1 class="nhsuk-heading-l nhsuk-u-margin-bottom-6">Prototype</h1>

{% endblock content_header %}

{% block content_primary %}

  <h2 class="nhsuk-heading-m">Version 3</h2>

  {% set version3 = [
    {
      text: 'Start',
      href: './version-3/start'
    }, {
      text: 'Get help today (disposition)',
      href: './version-3/disposition'
    }, {
      text: 'Select a pharmacy (service list)',
      href: './version-3/service-list'
    }, {
      text: 'Confirmation - High street pharmacy',
      href: './version-3/confirmation-high-street-pharmacy.html'
    }, {
      text: 'Confirmation - Online pharmacy',
      href: './version-3/confirmation-online-pharmacy.html'
    }
  ] %}

  {{
    contentsList({
      items: version3
    })
  }}

  <h2 class="nhsuk-heading-m">Version 2</h2>

  {% set version2 = [
    {
      text: 'Start',
      href: './version-2/start'
    }, {
      text: 'Get help today (disposition)',
      href: './version-2/disposition'
    }, {
      text: 'Select a pharmacy (service list)',
      href: './version-2/service-list'
    }, {
      text: 'Confirmation - High street pharmacy',
      href: './version-2/confirmation-high-street-pharmacy.html'
    }, {
      text: 'Confirmation - Online pharmacy',
      href: './version-2/confirmation-online-pharmacy.html'
    }
  ] %}

  {{
    contentsList({
      items: version2
    })
  }}

  <h2 class="nhsuk-heading-m">Version 1</h2>

  {% set version1 = [
    {
      text: 'Start',
      href: './version-1/start'
    }, {
      text: 'Get help today (disposition)',
      href: './version-1/disposition'
    }, {
      text: 'Select a pharmacy (service list)',
      href: './version-1/service-list'
    }, {
      text: 'Confirmation - High street pharmacy',
      href: './version-1/confirmation-high-street-pharmacy.html'
    }, {
      text: 'Confirmation - Online pharmacy',
      href: './version-1/confirmation-online-pharmacy.html'
    }
  ] %}

  {{
    contentsList({
      items: version1
    })
  }}

{% endblock content_primary %}