{% set page = {
  title: 'Page title here',
  content_secondary: {
    visible: false
  }
} %}

{% extends page.layout | d('layouts/111-online/default.html') %}

{% block content_primary %}
  <h1 class="nhsuk-heading-l nhsuk-u-margin-bottom-6">111 Online &ndash; Prototype Kit</h1>

  <h2 class="nhsuk-heading-m">Template examples</h2>

  {% set links = [
    {
      text: 'Choose one from a list',
      href: './examples/single-choice'
    }
  ] %}

  {{
    contentsList({
      items: links
    })
  }}

{% endblock content_primary %}